*
{

	margin: 0%;
    padding: 0%;

}


.warrpen{
	background: url(onlinetransfer.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
    
}
.navbar{
	height: 80px;
	width: 100%;
	background: rgba(253, 248, 248, 0.877);

}
.logo{
	width: 140px;
	height: 80px;
	padding: 0px 100px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0px  6px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	text-decoration: none;
	color: rgb(7, 7, 7);
	font-size: 30px;
	padding: 6px 25px;
	font-family:Arial, Helvetica, sans-serif;
	margin-right: 60px;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: rgb(238, 248, 178);
	border-radius: 2px;
}
.warrpen.center{
	position:relative;
	top:50%;
	right: 55%;
	transform: translate(-50%,-50%);
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	user-select:none;

}
.center h1{
	position: absolute;
   
    transform: translate(15%,15%);
    font-size: 10em;
}
.center h1:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #979af6;
}
.center h1:nth-child(2){
    color: #19ba19;
    animation: animate 4ms ease-in-out infinite;
}
@keyframes animate{
    0%,100%
    {
		clip-path: polygon(0 8%, 7% 6%, 14% 5%, 21% 5%, 28% 6%, 34% 8%, 40% 12%, 46% 17%, 50% 20%, 54% 23%, 60% 25%, 66% 26%, 70% 26%, 77% 25%, 83% 23%, 89% 21%, 95% 19%, 100% 17%, 100% 100%, 0% 100%);
	}
    50%{
		clip-path: polygon(0 15%, 9% 21%, 14% 23%, 18% 25%, 21% 26%, 30% 28%, 32% 28%, 40% 27%, 46% 26%, 52% 23%, 57% 19%, 62% 15%, 68% 11%, 73% 8%, 79% 6%, 86% 5%, 93% 5%, 100% 6%, 100% 100%, 0% 100%);
    }
}
@keyframes stretch {
	0% {
	  bottom: -130%;
	}
  
	100% {
	  bottom: -1px;
	}
  }
  